<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TheOldWomanandtheWineJarFable"
            android:label="@string/title_activity_the_old_womanandthe_wine_jar_fable"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.demo.MainActivity" />
        </activity>
        <activity
            android:name=".TheBellyandtheMembersFable"
            android:label="@string/title_activity_the_bellyandthe_members_fable"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.demo.MainActivity" />
        </activity>
        <activity
            android:name=".TheMonkeyandtheDolphin"
            android:label="@string/title_activity_the_monkeyandthe_dolphin"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.demo.MainActivity" />
        </activity>
        <activity
            android:name=".TheCatMaidenFable"
            android:label="@string/title_activity_the_cat_maiden_fable"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.demo.MainActivity" />
        </activity>
        <activity
            android:name=".TheOldManandDeathFable"
            android:label="@string/title_activity_the_old_manand_death_fable"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.demo.MainActivity" />
        </activity>
        <activity
            android:name=".The_cock_and_the_Jewel"
            android:label="@string/title_activity_the_cock_and_the__jewel"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.demo.MainActivity" />
        </activity>
        <activity
            android:name=".TheCockandtheJewel"
            android:label="@string/title_activity_the_cockandthe_jewel"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.demo.MainActivity" />
        </activity>
        <activity
            android:name=".TheAssintheLionsSkinFable"
            android:label="@string/title_activity_the_assinthe_lions_skin_fable"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.demo.MainActivity" />
        </activity>
        <activity
            android:name=".Belling_the_Cat_Fable"
            android:label="@string/title_activity_belling_the__cat__fable"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.demo.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>